[submodule "lc0"]
	path = lc0
	url = https://github.com/Bonan14/lc0-rescorer.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "polyglot"]
	path = polyglot
	url = https://github.com/DanielUranga/polyglot.git
